/* STUDENT AND TEACHER FACING STYLE */

/* Colors */
.palegreen { background-color: palegreen;}
.green { background-color: rgba(179, 214, 167, 1);}
.pink {background-color: hotpink;}
.blue { background-color: rgba(125, 159, 232, 1);}
.coral { background-color: lightcoral;}
.pink { background-color: lightpink;}
.darkpink { background-color: rgba(214, 94, 172, 1);}
.purple { background-color: rgba(217, 183, 235, 1);}
.orange { background-color: rgba(227, 138, 120, 1);}
.yellow { background-color: rgba(222, 207, 93, 1);}
.grey { background-color: rgba(250, 250, 250, .8);}
.white { background-color: rgba(250, 250, 250, 1.0);}
.line-color { background-color: rgba(3, 3, 3, .3);}

.palegreen-text { color: palegreen;}
.green-text { color: rgba(179, 214, 167, 1);}
.pink-text {color: hotpink;}
.blue-text { color: rgba(125, 159, 232, 1);}
.coral-text { color: lightcoral;}
.pink-text { color: lightpink;}
.darkpink-text { color: rgba(214, 94, 172, 1);}
.purple-text { color: rgba(217, 183, 235, 1);}
.orange-text { color: rgba(227, 138, 120, 1);}
.yellow-text { color: rgba(222, 207, 93, 1);}
.white-text { color: white;}

body {
    background-image: url(image-path("black-chalk.jpg"));
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;   
}

.student-background {
    height: 100vh;
    background-image: url(image-path("black-chalk.jpg"));
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;   
}

.teacher-background {
    background-image: url(image-path("grey-chalk.jpg"));
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;   
    height:100%;
}

.icon {
    display: block;
    padding: 8px;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.icon-small {
    display: block;
    padding: 8px;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);   
}

.icon-med {
    display: block;
    padding: 8px;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
	width: 56px;
	height: 56px;
	border-radius: 28px;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);   
}

.icon-med-large {
    display: block;
    padding: 8px;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 7%;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);   
}

.icon-large {
/*    display: bloc;
    margin: auto;*/
	width: 160px;
	height: 160px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.icon-face {
/*    display: bloc;
    margin: auto;*/
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.vl {
    border-right: solid;
    border-width: 2px;
    padding-right: 60px;
    height: 25px;
    border-color: black;
}

.center-text {
    text-align: center;
}

.rounded {
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.tiny-logo {
    font-family: 'Unkempt', cursive;
    font-size: 20px; 
    text-align: center;
    padding-top: 5px;
}

.tiny-logo-left {
    font-family: 'Unkempt', cursive;
    font-size: 20px;
    padding-top: 5px;
}

.desc {
    font-size: 30px;
    font-family: 'Unkempt', cursive;
    color: white;
    text-align: center;
}

.desc-space {
    font-size: 26px;
    font-family: 'Unkempt', cursive;
    text-align: center;
    color: white;
    padding-top: 27px;
}

.small-desc {
    font-size: 20px;
    font-family: 'Unkempt', cursive;
    color: white;
    text-align: center;
}

.small-med-desc {
    font-size: 23px;
    font-family: 'Unkempt', cursive;
    color: white;
    text-align: center;
}

.med-desc {
    font-size: 28px;
    font-family: 'Unkempt', cursive;
    color: white;
    text-align: center;
    font-weight: bold;
}

.large-desc {
    font-size: 35px;
    font-family: 'Unkempt', cursive;
    text-align: center;
}


/* TEACHER STYLE */
.tiny-filler {
    height: 2px;
}

.small-filler {
    height: 20px;
}

.massive-filler {
    height: 70px;
}

.white-strip {
    background-color: rgba(250, 250, 250, 1.0);
    height: 41px;
}

.search-bar {
    height: 32px;
    padding: 3px;
}

.border {
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);  
}

.outline {
    height: 1700px;
    border-style: solid;
    border-top-color: rgba(0, 0, 0, .0);
    border-bottom-color: rgba(0, 0, 0, .0);
    border-right-color: rgba(3, 3, 3, .3);;
}

.outline-lower {
    border-style: solid;
    border-top-color: rgba(0, 0, 0, .0);
    border-right-color: rgba(0, 0, 0, .0);
    border-left-color: rgba(0, 0, 0, .0);
    border-bottom-color: rgba(3, 3, 3, .3);;
}

.outline-upper {
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, .0);
    border-right-color: rgba(0, 0, 0, .0);
    border-left-color: rgba(0, 0, 0, .0);
    border-top-color: rgba(3, 3, 3, .3);;
}

.block {
    padding: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);  
}

.zero {
    font-style:italic;
    font-size:1em;
    font-family: 'Poiret One', cursive;

}

.vcenter {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.pull-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.left-align {
    padding-left: 0px;
    padding-top: 2%;
}

.logo {
    font-family: 'Unkempt', cursive;
    font-size: 25px;
}

.student-title {
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    font-weight: bold; 
}

.student-title-small {
    font-size: 24px;
    font-family: 'Poiret One', cursive;
    font-weight: bold; 
}

.student-name {
    font-size: 22px;
    font-family: 'Oxygen';
    font-family: 'Poiret One', cursive;
    font-weight: bold; 
    vertical-align: middle;
}

.student-desc {
    font-size: 16px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.student-desc-big {
    font-size: 18px;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.shift-slight-right {
    padding-left: 10px;   
}

.update-title {
    font-size: 20px;
  /*  ##font-family: 'Oxygen';
    ##font-family: 'Nunito', sans-serif;
    ##font-family: 'News Cycle', sans-serif;*/
    font-family: 'Poiret One', cursive;
    font-weight: bolder; 
}

.update-desc {
    font-size: 16px;
    font-family: 'Oxygen';
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.circular {
    display: block;
    margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);    
}



/* ------------------------------------- */
/* STUDENT STYLE */
select {
    font-family: 'Unkempt', cursive;
    color: black;
    text-align: left;
    background-color: white;
    font-family: 'Unkempt', cursive;
}

.list {
    font-family: 'Unkempt', cursive;
    align-content: center;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 200px;
    opacity: .6;
    background-color: white;
}
a {
    color: white;
    text-decoration:none;
}
a.arrow-scroll:hover {
    background-color: coral; 
    text-decoration: none;
    color: white;
}
a.arrow-scroll:focus {
    text-decoration: none;
    color: white;
}
.arrow-scroll {
    color: white;
}


.large_box {
    width: 100%;
    height: 200px;
    opacity: .6;
    background-color: white; 
}

.shift-left {
    padding-right: 30px;
}

.shift-right {
    padding-left: 30px;
}

.inline {
    display: inline;
}

.drop {
    color: black;
}

.filler {
    height: 60px;
}

.filler-most {
    height: 140px;
}

.filler-small {
    height: 30px;
}

.filler-tiny {
    height: 15px;
}

a:hover {
    color: aqua;
    text-decoration: none;
}



.lit {
    background-color: black;
}

.title {
    text-align: center;
}

.finish {
    font-size: 80px;
    font-family: 'Unkempt', cursive;
    text-align: center;
}

.small-p {
    font-size: 20px;
    font-family: 'Unkempt', cursive;
    text-align: center;
    color: white;
    text-decoration:none;
    
    padding: 35px;
    padding-top: 60px;
    width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.motto {
    font-size: 150px;
    font-family: 'Unkempt', cursive;
    /*##color: paleturquoise;*/
    text-align: center;
}

.small-motto {
    font-family: 'Unkempt', cursive;
    font-size: 120px; 
    text-align: center;
}

.tiny-motto {
    font-family: 'Unkempt', cursive;
    font-size: 90px; 
    text-align: center;
}

.tiniest-motto {
    font-family: 'Unkempt', cursive;
    font-size: 70px; 
    text-align: center;
}


.prompt {
    font-size: 20px;
    font-family: 'Unkempt', cursive;
    color: white;
    text-align: left;
}

.start {
    text-align: center;
    font-size: 200px;
    font-family: 'Bangers', cursive;
    color: palegreen;
}


.large {
    font-size: 35px;
}

.strip {
    background-color: rgba(249, 249, 249, .6);
}

.center-img {
    margin: 0 auto;
}

.arrow {
    width: 50%;
    height: 50%;
    margin-top: 20%;  
}

.arrow-small {
    margin-top: 5px;
    height: 30px;
    margin-left: 40px;
}

/*
.arrow-scroll {
    width: 50%;
    height: 50%;
    align-content: center;
}
*/

link.hover {
    text-decoration:none;
    color:auto;
}

a:hover, a:focus {
    color: white;
}

a.no-underline:hover, a.no-underline:focus {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.textbox { 
    color: black;
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
    opacity: .6;
}

.drag-green {
    background-color: lightgreen;
    height: 200px;
    opacity: .7;
}

.drag-red {
    background-color: lightcoral;
    height: 200px;
    opacity: .7;
}

.drag-img {
    display: block;
    background-color: aliceblue;
	width: 140px;
	height: 140px;
	border-radius: 70px;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.remember {
    display: block;
    background-color: aliceblue;
	width: 180px;
	height: 120px; 
}

.border {
   background-color: white;
    opacity: .7;
    color: black;
}

#chillPageNextBtn {
    visibility: hidden;
}

.upper_logo {
    font-family: 'Unkempt', cursive;
    font-size: 28px;
    color: rgba(179, 214, 167, 1);
    padding-top: 12%;
    padding-left: 20px;
    margin-bottom: 0px;
}

.upper_name {
    font-family: 'Unkempt', cursive;
    font-size: 22px;
    color: white;
    padding-top: 15%;
    padding-left: 70px;
    margin-bottom: 0px;
}

.submit {
    text-align: center;
    opacity: .7;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Unkempt', cursive;
}

a.submit-large:hover {font-weight: bold; color: coral;}
.submit-large {
    font-family: 'Unkempt', cursive;
    font-size: 90px; 
    text-align: center;

    color: coral;
}

a.action-step:hover {}
.action-step {
    color: white;
}

.center {
    text-align: center;
}

#start_btn {
    padding-top: 200px;
}

#start_btn.hover {
    text-decoration:none;
}

#placeholder1 {
    visibility: hidden;
}

.drag {
    position: absolute;
}

/* JULIA'S DRAG AND DROP STUFF */
#gallery {
    width:90%;
    background-color:#e5e5e5;
}

#char {
    height: 40%;
    min-height: 300px;
    width:100%;

}

.scens {
    width:15%;
    min-width: 72px;
    display:inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    background-color:white;
}

.scens img {
    margin:auto;
}

#good {
    width:40%;
    margin-left:2%;
    margin-right:3%;
    background-color:#a0db8e;
    float:left;
    min-height: 200px;

}

#bad {
    width:40%;
    margin-left:3%;
    margin-right:2%;
    float:left;
    background-color:#db8ea0;
    min-height: 200px;

}

#nullError {
    visibility: hidden;
    color: rgba(227, 138, 120, 1);
}

#spellingError {
    visibility: hidden;
    color: rgba(227, 138, 120, 1);
}


#checkboxError {
    visibility: hidden;
    color: rgba(227, 138, 120, 1);
}

.drop-hover {
     opacity: 0.4;
}

.words {
    font-size:12px;
    text-align: center;
    font-family: Arial;
}

.charheader {
    text-align: center;
    font-family:'Poiret One', Arial;
}

.chartraits {
    width:36%;
}